.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 251, 251, 1);
}


.paperbox{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

paper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

plot{
  width: 30px;
  height: 30px;
}

.chartArea{
  display: flex;
  flex-direction : column;
  flex-wrap: wrap;
}



